In [1]:
import numpy as np

In [2]:
a = np.arange(11)**2 #square of all elements
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [3]:
a[-1]

100

In [4]:
# slicing
# start from 1 up to 4, but 4 is not included
a[1:4]

array([1, 4, 9], dtype=int32)

In [5]:
a[1:-1]

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [6]:
# start: 0, end:11, step:2
a[:11:2]

array([  0,   4,  16,  36,  64, 100], dtype=int32)

In [7]:
# this is basically reversing the array
a[::-1]

array([100,  81,  64,  49,  36,  25,  16,   9,   4,   1,   0], dtype=int32)

In [9]:
arr = np.array([[1,2,3,4],
       [5,6,7,8],
       [9,10,11,12],
       [13,14,15,16]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [11]:
# this iterates over elements in the first dimension
for i in arr:
    print("i = ", i)

i =  [1 2 3 4]
i =  [5 6 7 8]
i =  [ 9 10 11 12]
i =  [13 14 15 16]

In [12]:
# get elements individually
# by default, this is row major flattening -> elements in a row appear together
for i in arr.flatten():
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [13]:
# this is column major flattening -> elements in a column appear together
for i in arr.flatten(order='F'):
    print(i)

1
5
9
13
2
6
10
14
3
7
11
15
4
8
12
16

In [14]:
for i in np.nditer(arr):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [15]:
#by column
for i in np.nditer(arr, order='F'):
    print(i)

1
5
9
13
2
6
10
14
3
7
11
15
4
8
12
16

In [16]:
# flatten vs nditer: flatten returns a result array, nditer just allows you to iterate over elements

In [17]:
# to iterate over outer dimensions. so, we will get 1D array with this iteration
# order='F' -> iterate column-wise
for i in np.nditer(arr, order='F', flags=['external_loop']):
    print(i)

[ 1  5  9 13]
[ 2  6 10 14]
[ 3  7 11 15]
[ 4  8 12 16]

In [18]:
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [19]:
arr.shape

(4, 4)

In [20]:
# -1 means that unknown rows
arr.reshape(8,-1)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16]])